.mediaSecret__photo {
  max-width: 100%;
  &_L {
    max-height: 90vh;
  }
  &_S {
    max-height: 200px;
  }
}

.mediaSecret__video {
  width: 100%;

  &_L {
    max-height: 90vh;
  }

  &_S {
    max-height: 200px;
  }
}