.secret-container {
  
  &__item {
    margin-bottom: 20px;
  }
}

.secrets {
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 20px;
  }
}

.secret {
  @include SecretCard;

  &__icon {
    width: 100%
  }

  &__countdown {
    color: $countdown;
    font-weight: 700;
  }
}