@import './constants.scss';
@import './mixins.scss';
@import '../components/Header/header.scss';
@import '../components/UI_components/Button/button.scss';
@import '../pages/Auth/auth.scss';
@import './links.scss';
@import '../components/UI_components/PopUp/popUp.scss';
@import '../components/SecretForm/secretForm.scss';
@import '../components/Secrets/secrets.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
body {
  min-width: 320px;
  // font-size: 1.4rem;
}

input {
  &:focus {
    outline: none;
  }
}
// remove arrows in type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// #root {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   background: linear-gradient(45deg, #5168D6, #CE5EC6);
// }

.app-container {
  max-width: 1400px;
  margin: 0 auto;
}

.app-main {
  margin-top: 30px;
  margin-bottom: 30px;
}

