@import './constants.scss';
@import '../components/Header/header.scss';
@import '../components/UI_components/Button/button.scss';
@import '../pages/Auth/auth.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
html {
  font-size: 10px;
}

body {
  min-width: 320px;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #5168D6, #CE5EC6);
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
}

.app-main {
  margin-top: 30px;
  margin-bottom: 30px;
}

