@import './constants.scss';
@import './mixins.scss';
@import '../pages/Auth/auth.scss';
@import './links.scss';
@import '../components/UI_components/PopUp/popUp.scss';
@import '../components/SecretForm/secretForm.scss';
@import '../components/Subscription/subscription.scss';
@import '../components/Secrets/secrets.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  // font-size: 1.4rem;
}

input {
  &:focus {
    outline: none;
  }
}
// remove arrows in type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face{
  font-family: AlarmClock;
  src: url('/fonts/alarm\ clock.ttf');
}

