.secret-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include SecretCard;
}
.dateTimePicker {
  border: 3px solid black;
  font-size: 2rem;
}
input[type="time"] {
  color: red;
  padding-left: 15px;
  padding-right: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

