.secret-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255,255,255, 0.6);

  &__error {
    color: $form_error;
    font-weight: 400;
  }
}
.dateTimePicker {
  border: 3px solid black;
  font-size: 2rem;
}
.datePicker__label {
  padding-left: 15px;
  margin-bottom: 3px;
}

input[type="time"] {
  color: red;
  padding-left: 15px;
  padding-right: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.MuiPickersCalendarHeader-label{
  color: black;
}
.MuiButtonBase-root-MuiPickersDay-root{
  color: black
}